<h1> <%= t('edit_questions') %></h1>

<%= render 'form', question: @question %>

<%= link_to t('show'), voting_question_path(@voting, @question) %> |
<%= link_to t('back'), voting_questions_path(@voting) %>
