<h1> <%= t('questions')%></h1>

<%= bootstrap_table(id: 'questions_index') do |table| %>
  <% table.headers = [t('title'), t('description'), t('options'), t('edit'), t('destroy')] %>
  <% @questions.each do |question| %>
    <% table.rows << [
      question.title,
      question.description,
      options_list(question),
      link_to( t('edit'), edit_organization_voting_question_path(@organization, @voting, question)),
      link_to( t('destroy'), organization_voting_question_path(@organization, @voting, question), method: :delete, data: { confirm: 'Are you sure?' })
    ] %>
  <% end %>
<% end %>

<br>

<%= link_to t('new_question'), new_organization_voting_question_path(@organization, @voting) %> | 
<%= link_to t('back'), organization_votings_path(@organization) %>
