<%= index_title(Body) %>

<div class="actions">
  <%= button_to t('bodies.new'), new_organization_body_path(@organization), method: :get, context: :primary %>
</div>

<%= bootstrap_table(id: 'bodies_index') do |table| %>
  <% table.headers = [t('activerecord.attributes.body.name'), t('edit'), t('destroy')] %>
  <% @bodies.each do |body| %>
    <% table.rows << [
      body.name,
      link_to( t('edit'), edit_organization_body_path(@organization, body)),
      link_to(t('destroy'), organization_body_path(@organization, body), method: :delete, data: { confirm: 'Are you sure?' })
    ] %>
  <% end %>
<% end %>
