<h1>Votings</h1>

<%= bootstrap_table do |table| %>
  <% table.headers = ['Title', 'Description', 'Status', 'Questions', 'Edit', 'Destroy'] %>
  <% @votings.each do |voting| %>
    <% table.rows << [
      link_to(voting.title, voting),
      voting.description,
      voting.status.capitalize,
      link_to("view #{voting.questions.count} questions", voting_questions_path(voting)),
      link_to('Edit', edit_voting_path(voting)),
      link_to('Destroy', voting, method: :delete, data: { confirm: 'Are you sure?' })
    ] %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Voting', new_voting_path %>
