<h1><%= t('votings')%></h1>

<%= bootstrap_table do |table| %>
  <% table.headers = [t('title'), t('description'), t('status'), t('questions'), t('edit'), t('destroy')] %>
  <% @votings.each do |voting| %>
    <% table.rows << [
      link_to(voting.title, voting),
      voting.description,
      voting.status.capitalize,
      link_to("view #{voting.questions.count} questions", voting_questions_path(voting)),
      link_to( t('edit'), edit_voting_path(voting)),
      link_to( t('destroy'), voting, method: :delete, data: { confirm: 'Are you sure?' })
    ] %>
  <% end %>
<% end %>

<br>

<%= link_to t('new_voting'), new_voting_path %>