<h1> <%= t('edit_group') %></h1>

<%= render 'form', group: @group %>

<%= link_to t('show'), organization_group_path(@organization, @group) %> |
<%= link_to t('back'), organization_groups_path(@organization) %>
