<h1>Groups</h1>

<%= bootstrap_table do |table| %>
  <% table.headers = ['Name', 'Number', 'Available votes', 'Edit', 'Destroy'] %>
  <% @groups.each do |group| %>
    <% table.rows << [
      group.name,
      group.number,
      group.available_votes,
      link_to('Edit', edit_group_path(group)),
      link_to('Destroy', group, method: :delete, data: { confirm: 'Are you sure?' })
    ] %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Group', new_group_path %>
