body {
  font-family: 'Roboto', sans-serif;
}

#main-container {
  width: 80%;
  margin: 40px auto; 
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.actions {
  form {
    display: inline-block;
  }
}